#ieltsCal_container{
    background: #CCCC;
    max-width: 500px;
    direction: ltr;
    padding: 20px;
    border-radius: 5px;
}
.calculator-upper{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: #fff;
    color: #df8805;
    box-shadow: 0px 0px 5px rgba(204, 204, 204, 0.75);
}
.content.upper-text,.row-select .content,.content.select-radio  {
    font-size: 11pt;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.ui.header > img + .content, .ui.header > .image + .content {
    padding-left: 0.25rem;
    vertical-align: middle;
}
.ui.header .content{
    display: table-cell;
    border:none;
    vertical-align: middle;
    text-align: center;
}

.listening{
    background-image: url("Listening.png");
    background-size: 35px 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    content:"";
    float: left;
    margin-right: 5px;
}
.reading{
    background-image: url("Reading.png");
    background-size: 35px 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    content:"";
    float: left;
    margin-right: 5px;
}
.ui.header > .image, .ui.header > img {
    display: inline-block;
    height: auto;
    vertical-align: middle;
}
.ui.header > img + .content, .ui.header > .image + .content {
    padding-left: 0.25rem;
    vertical-align: middle;
}
.btn-calculate{
    width: 100%;
}